body{
    background-color: lightblue;
    color: darkblue;

}

h1{
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-align: center;
}

p{
    font-family: 'Georgia', serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

.box{
   
    background-color: lightgray;
    width: 300px;
    height: 150px;
    padding: 50px;
    border: 15px dashed red;
    margin: 200px 200px 0px 0px;
}

.box2{
   
    background-color: lightgray;
    width: 300px;
    height: 150px;
    padding: 50px;
    border: 15px solid blue;
    margin: 200px 200px 0px 0px;
}

header, main, footer {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

/* .imagenes {
    border: 5px;
    display: flex;
    justify-content: space-around;
}

#pie {
    display: flex;
    justify-content: ;
}
 */
